# MongoDB Connection String
MONGO_URI=mongodb+srv://genoidtechofficial_db_user:RqRTogkAOwpjuV93@cluster0.3yyxhde.mongodb.net/?appName=Cluster0

# JWT Secret Key (change to a random string)
JWT_SECRET=rithika07shabeera03

# Admin Panel Credentials (change these!)
ADMIN_USERNAME=GenoidTech
ADMIN_PASSWORD=Genoid@2026

# Server Port
PORT=3000
